<!DOCTYPE html>
<html>
<head>
  <title>Foodee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/wge4dni.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

<div class ="container">
  <header><%= link_to "Foodie App", root_path %> :: <%= link_to "Restaurants", restaurants_path %> :: <%= link_to "Dishes", dishes_path %>
<div class ="social">
  <ul>
    <li class="facebook"><a href="#"></a></li>
    <li class="twitter"><a href="#"></a></li>
    <li class="github"><a href="#"></a></li>
  </ul>
</div>

  </header>

<%= yield %>

</div>

</body>
</html>
