<%= render :partial => 'shared/errors', :locals => {:object => @dish} %>

<!-- will change object to @restaurant and run partial error -->

<%= form_for @dish do |f| %>
<div class="forms">

  <div class="field">
    <%= f.label :restaurant_id %>
    <%= f.select :restaurant_id, Restaurant.all.map{|r| [r.name, r.id]} %>
  </div>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>

  <%= f.submit %>
</div>
<% end %>